%form.vertical-form{action: "/pack"}
  .row
    .span8
      %h4 Select plugins you'd like to concatenate (and minify).
      %fieldset.control-group
        .controls
          %a.select{href: "#"} Select all
          \/
          %a.deselect{href: "#"} Deselect all

          .control-list.plugins
            - for plugin in available
              %label.checkbox
                %input{type: "checkbox", name: "files[]", value: plugin}
                = "bootstrap-#{plugin}.js"
    .span4
      %fieldset.control-group
        %label.control-label
          Settings
        .controls
          .control-list
            %label.checkbox{for: "comments"}
              %input{type: "hidden", name: "comments", value: "1"}
              %input{type: "checkbox", name: "comments", id: "comments", value: "0"}
              %span Remove comments
            %label.checkbox{for: "minify"}
              %input{type: "hidden", name: "minify", value: "01"}
              %input{type: "checkbox", name: "minify", id: "minify", value: "1"}
              %span Minify
  %fieldset.form-actions
    %input{type: "submit", class: "btn primary large", value: "Minify!"}

:javascript
  $('.select').click(function(){
    $('.plugins input').attr('checked',true);
  });
  $('.deselect').click(function(){
    $('.plugins input').removeAttr('checked');
  });
